Checks: >
  *,
  -altera-*,
  -android-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-not-null-terminated-result,
  -bugprone-casting-through-void,
  -clang-analyzer-deadcode.DeadStores,
  -clang-analyzer-nullability.*,
  -clang-analyzer-security.insecureAPI.*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-owning-memory,
  -cert-err33-c,
  -fuchsia-*,
  -google-readability-function-size,
  -google-readability-casting,
  -google-objc-function-naming,
  -google-objc-global-variable-declaration,
  -google-objc-avoid-throwing-exception,
  -google-readability-braces-around-statements,
  -hicpp-avoid-c-arrays,
  -hicpp-braces-around-statements,
  -hicpp-signed-bitwise,
  -hicpp-use-nullptr,
  -llvmlibc-*,
  -llvm-header-guard,
  -misc-include-cleaner,
  -misc-no-recursion,
  -modernize-*,
  -objc-avoid-nserror-init,
  -performance-no-int-to-ptr,
  -cppcoreguidelines-init-variables,
  -bugprone-branch-clone,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -readability-math-missing-parentheses,
  -readability-magic-numbers,
  -readability-redundant-casting,
  -readability-use-concise-preprocessor-directives,
  -zircon-*
WarningsAsErrors: '*'
HeaderFilterRegex: '^(src|tests|example)/(?!ossp-ex1/).+'
FormatStyle: none
CheckOptions:
  - key: bugprone-narrowing-conversions.WarnWithinTemplateInstantiation
    value: 'true'
