BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
ContinuationIndentWidth: 4
IndentCaseLabels: true
PointerAlignment: Right
ReferenceAlignment: Right
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  SplitEmptyFunction: true
